@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="context">
        <h1>Moona Music</h1>
        <p>Watch all Moana music videos featuring "How Far I'll Go," "You're Welcome," "Shiny" and more.</p>
    </div>


    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

        <iframe width="1000" height="715" align="middle" src="https://www.youtube.com/embed/79DijItQXMM?autoplay=1&mute=1"></iframe
      
    </div>
